.skeleton-box {
  position: relative;
  overflow: hidden;
  background: #e3e6e8;
  border-radius: 0.5rem;
}

.skeleton-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  height: 100%;
  width: 150%;
  background: linear-gradient(90deg, #e2e5e7 25%, #f1f2f3 37%, #c6cace 63%);
  animation: shimmer 3s infinite;
}

@keyframes shimmer {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}
